@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/YekanBakh-Bold/YekanBakh-Bold.eot');
    src: local('YekanBakh'), url('../fonts/YekanBakh-Bold/YekanBakh-Bold.woff') format('woff'), url('../fonts/YekanBakh-Bold/YekanBakh-Bold.ttf') format('truetype');
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'YekanBakh', sans-serif;
}

body {
    background-color: #F9FAFD;
}

button:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
}

header {
    width: 100%;
    height: 58px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 12px rgb(0 0 0 / 10%);
    padding: 0px 130px 0px 130px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    z-index: 10;
    margin-top: -74px;
}

a.bazaar-logo {
    height: 36px;
    width: 120px;
}

a.bazaar-logo img {
    width: 100%;
    height: 100%;
}

ul.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 36px;
    width: 300px;
    margin-right: 20px;
}

ul.header-menu li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.header-menu li:first-of-type {
    border-bottom: 5px solid #0DA05B;
    border-radius: 3px;
}

ul.header-menu li button,
ul.header-menu li a {
    font-size: 16px;
    line-height: 24px;
    color: #6b6b6b;
    font-weight: 400;
}

ul.header-menu li button:hover,
ul.header-menu li a:hover {
    color: #0DA05B;
}

ul.header-menu li button {
    background-color: #FFFFFF;
    border: none;
}

div.search-input {
    height: 36px;
    width: 200px;
    display: flex;
    align-items: center;
    background-color: #F9FAFD;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    margin: 0 7.5px 0 7.5px;
    margin-right: auto !important;
}

div.search-input:hover {
    background-color: #FFFFFF;
}

div.search-input i {
    margin: 0 10px 0 15px;
    color: #cacaca;
    width: 16;
    height: 16;
}

div.search-input input {
    height: 100%;
    width: 100%;
    background-color: #F9FAFD;
    border: none;
    color: #6b6b6b;
    font-weight: 400;
    font-size: 12px;
}

div.search-input:hover input {
    background-color: #FFFFFF;
}

div.search-input input:focus {
    outline: none;
    background-color: #FFFFFF;
}

div.search-input:focus-within {
    background-color: #FFFFFF;
}

a.account-link {
    width: 36px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9DA0AF;
    margin: 0 7.5px 0 7.5px;
    border-radius: 50%;
}

a.account-link:hover {
    background-color: #F9FAFD;
}

a.pre-install {
    width: 100px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #0DA05B;
    border-radius: 5px;
    margin: 0 7.5px 0 7.5px;
    font-size: 14px;
}

button.change-lang {
    width: 30px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7.5px 0 7.5px;
    background-color: #FFFFFF;
    color: rgb(117, 117, 117);
    border-radius: 5px;
    border: none;
}

button.change-lang:hover {
    background-color: #F9FAFD;
}

main {
    margin: 74px 130px 16px 130px;
    z-index: 5;
}

section.programs {
    width: 100%;
    height: 58px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 25px;
    margin-bottom: 16px;
}

section.programs h1 {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

section.applications {
    width: 100%;
    height: 230px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 16px;
}

div.title {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

div.title h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #212529;
    margin-right: 20px;
}

div.title a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
    color: #212529;
    font-weight: 500;
    font-size: 14px;
}

div.title a:hover {
    color: #0DA05B;
}

div.title a i {
    margin-right: 10px;
}

div.apps {
    width: 100%;
    height: 180px;
    display: flex;
    overflow: scroll;
    /* border: 1px solid slateblue; */
}

div.app {
    /* border: 1px solid darkmagenta; */
    width: 120px;
    height: 160px;
    min-width: 120px;
    margin: 10px 5px 10px 5px;
    padding: 10px;
    border-radius: 10px;
}

div.app:hover {
    transition: box-shadow .1s;
    outline: none;
    box-shadow: 0 4px 24px rgb(0 0 0 / 10%);
}

a.app img {
    width: 100%;
    border-radius: 22px;
}

div.app-information h3 {
    font-size: 15px;
    line-height: 21px;
    color: #2a2a2a;
    font-weight: 400;
    text-align: right;
}

div.app-information p {
    color: #8a8a8a;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    text-align: right;
}

section.showcase-applications {
    width: 100%;
    height: 280px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 16px;
}

section.showcase-applications div.apps {
    width: 100%;
    height: 230px;
    display: flex;
    overflow: scroll;
}

div.showcase-app {
    /* border: 1px solid salmon; */
    margin: 10px 5px 10px 5px;
    height: 210px;
    width: 400px;
    min-width: 400px;
    border-radius: 10px;
}

div.showcase-app a {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: box-shadow .4s;
    /* border: 1px solid slateblue; */
}

div.showcase-app a:hover {
    filter: brightness(120%);
}

div.showcase-app a img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

section.applications-groups {
    width: 100%;
    height: 200px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 32px;
}

div.apps-groups {
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
    padding: 15px;
}

div.group a {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background-color: #f9fafd;
    border: 1px solid #f0f0f0;
    box-shadow: none;
    transition: box-shadow .4s;
}

div.group a:hover {
    background-color: #fefefe;
    box-shadow: 0 4px 24px rgb(0 0 0 / 10%);
}

div.subject {
    /* border: 1px solid forestgreen; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.subject p {
    margin-right: 10px;
    font-weight: 400;
    size: 16px;
    color: #2a2a2a;
    line-height: 24px;
}

section.bazaar-desc {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 16px;
    padding: 1rem;
    padding-bottom: 0.1rem !important;
}

section.bazaar-desc p {
    color: #6b6b6b;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: normal;
    word-spacing: 1px;
    margin: 0 0 32px;
    padding: 0;
    text-align: right !important;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p.before-btn {
    margin: 0 0 0 !important;
}

section.bazaar-desc p strong {
    color: #212529;
    font-size: 18px;
}

button.desc-btn {
    width: 5px;
    border: none;
    background-color: #FFFFFF;
    margin-left: calc(50% - 5px);
    margin-right: calc(50% - 5px);
}

div.more-desc {
    display: none;
}

.show {
    display: block !important;
    margin-top: 20px;
}

footer {
    background-color: #fefefe;
    box-shadow: 0 4px 24px rgb(0 0 0 / 10%);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 60px 130px;
}

div.application-information {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

div.descriptions {
    width: 50%;
    /* border: 1px solid forestgreen; */
}

div.descriptions h3 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #212529;
    margin-bottom: 18px;
}

div.descriptions p {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 12px;
    color: #6b6b6b;
}

div.app-download {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 0.4;
    border-radius: 8px;
    border: 1px solid #e5e7f0;
}

div.app-download h3 {
    font-size: 1rem;
    color: #212529;
}

div.app-download p {
    font-size: .75rem;
    color: #6b6b6b;
    margin-bottom: 1rem;
}

div.app-download ul {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    /* border: 1px solid gold; */
}

div.app-download ul li a {
    background-color: #fff;
    color: #0ea960;
    border-radius: 4px;
    border: 1px solid #e5e7f0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 1rem;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

div.app-download ul li a:hover {
    background-color: #fafafa;
}

div.company-information {
    display: flex;
    padding: 56px 0 0 0;
    /* border: 1px solid darkgoldenrod; */
}

div.company-details {
    flex-grow: 10;
    /* border: 1px solid green; */
}

div.company-details ul {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
}

div.company-details ul li a {
    font-size: 14px;
    font-weight: 400;
    color: #212529;
}

div.company-details ul li a:hover {
    color: #0ea960;
}

div.logos {
    flex-grow: 0.5;
}

div.logos ul {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

div.logos ul li {
    width: 90%;
    border: 1px solid #e5e7f0;
    border-radius: 8px;
}

div.logos ul li a img {
    width: 100%;
    height: 100%;
}

nav.footer-nav {
    width: 100%;
    height: 56px;
    background-color: #fefefe;
    box-shadow: 0 4px 24px rgb(0 0 0 / 10%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 130px;
}

nav.footer-nav p {
    font-size: 12px;
    line-height: 18px;
    word-spacing: 3px;
    color: #3a3a3a;
    font-weight: 400;
}

nav.footer-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid greenyellow; */
}

nav.footer-nav ul li {
    margin: 0 20px;
    /* border: 1px solid forestgreen; */
}

nav.footer-nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212529;
}

nav.footer-nav ul li a:hover {
    color: #0ea960;
}

nav.footer-nav ul li a i {
    font-size: 24px;
}